{% extends "base.html.twig" %}

{% block contents %}
    <p>
        <a href="{{ path('app_registration') }}">go to registration</a>
    </p>
    <p>
        <a href="{{ path('app_main') }}">go to main</a>
    </p>
{% endblock %}