{% extends "base.html.twig" %}

{% block contents %}
    <p>
        <a href="{{ path('app_login') }}">Login</a>
    </p>
    <p>
        <a href="{{ path('app_registration') }}">Registration</a>
    </p>
{% endblock %}